# Introduction to Scikit-Learn(sklearn)

This notebook demonstartes some of the most useful functions of the 
beautiful scikit learn library

What we're going to cover:

0. An end-to-end Scikit-Learn workflow
1. Getting the data ready
2. Choose the right estimator/algorithm for our problems
3. Fit the model/algorithm and use it to make predictions on our data
4. Evaluating a model
6. Save and load a trained model
7. Putting it all together!

## 0. An end-to-end Scikit_learn workflow

In [1]:
#1. Get the data ready
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
heart_disease = pd.read_csv("heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [2]:
# Create X (features matrix)
X = heart_disease.drop('target',axis=1)

# Create y (labels)
Y = heart_disease["target"]

In [3]:
import warnings
warnings.filterwarnings("default") #optional

In [3]:
# 2. Choose the right model and hyperparameteres
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100) #clf = classifier

#we'll keep the default hyperparameters
#clf.get_params()

In [5]:
# 3. Fit the model to the training data
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2) #if 1000 datas are there 200 will be used for testing and rest 800 will be used for training

In [6]:
import sklearn
sklearn.show_versions()

System:
    python: 3.11.0 | packaged by Anaconda, Inc. | (main, Mar  1 2023, 18:18:21) [MSC v.1916 64 bit (AMD64)]
executable: C:\Users\saha7\Desktop\sample_project\env\python.exe
   machine: Windows-10-10.0.22621-SP0

Python dependencies:
      sklearn: 1.2.1
          pip: 23.0.1
   setuptools: 65.6.3
        numpy: 1.23.5
        scipy: 1.10.0
       Cython: None
       pandas: 1.5.3
   matplotlib: 3.7.1
       joblib: 1.1.1
threadpoolctl: 2.2.0

Built with OpenMP: True

threadpoolctl info:
       filepath: C:\Users\saha7\Dropbox\PC\Desktop\sample_project\env\Library\bin\mkl_rt.1.dll
         prefix: mkl_rt
       user_api: blas
   internal_api: mkl
        version: 2021.4-Product
    num_threads: 6
threading_layer: intel

       filepath: C:\Users\saha7\Dropbox\PC\Desktop\sample_project\env\vcomp140.dll
         prefix: vcomp
       user_api: openmp
   internal_api: openmp
        version: None
    num_threads: 12

In [7]:
clf.fit(X_train,Y_train); #Have to fit our training variables to the model

In [8]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
181,65,0,0,150,225,0,0,114,0,1.0,1,3,3
269,56,1,0,130,283,1,0,103,1,1.6,0,0,3
288,57,1,0,110,335,0,1,143,1,3.0,1,1,3
115,37,0,2,120,215,0,1,170,0,0.0,2,0,2
39,65,0,2,160,360,0,0,151,0,0.8,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,34,1,3,118,182,0,0,174,0,0.0,2,0,2
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
268,54,1,0,122,286,0,0,116,1,3.2,1,2,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
215,43,0,0,132,341,1,0,136,1,3.0,1,0,3

In [9]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
63,41,1,1,135,203,0,1,132,0,0.0,1,0,1
84,42,0,0,102,265,0,0,122,0,0.6,1,0,2
202,58,1,0,150,270,0,0,111,1,0.8,2,0,3
31,65,1,0,120,177,0,1,140,0,0.4,2,0,3
149,42,1,2,130,180,0,1,150,0,0.0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,42,0,2,120,209,0,1,173,0,0.0,1,0,2
168,63,1,0,130,254,0,0,147,0,1.4,1,1,3
18,43,1,0,150,247,0,1,171,0,1.5,2,0,2
99,53,1,2,130,246,1,0,173,0,0.0,2,3,2
32,44,1,1,130,219,0,0,188,0,0.0,2,0,2

In [10]:
# Make the prediction
Y_preds = clf.predict(X_test)
Y_preds

array([1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1], dtype=int64)

In [11]:
Y_test

63     1
84     1
202    0
31     1
149    1
      ..
142    1
168    0
18     1
99     1
32     1
Name: target, Length: 61, dtype: int64

In [12]:
# 4. Evaluate the model on the training data and test data
clf.score(X_train,Y_train) #return mean accruacy

1.0

In [13]:
clf.score(X_test,Y_test)

0.8852459016393442

In [14]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(Y_test,Y_preds))

              precision    recall  f1-score   support

           0       0.95      0.76      0.84        25
           1       0.85      0.97      0.91        36

    accuracy                           0.89        61
   macro avg       0.90      0.87      0.88        61
weighted avg       0.89      0.89      0.88        61

In [15]:
confusion_matrix(Y_test,Y_preds)

array([[19,  6],
       [ 1, 35]], dtype=int64)

In [16]:
accuracy_score(Y_test,Y_preds)

0.8852459016393442

In [17]:
# 5. Improve a model
# Try different amount of n_estimators
np.random.seed(42)
for i in range (10,100,10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train,Y_train) #training is happening here 
    print(f"Model accuracy on test set: {clf.score(X_test,Y_test) * 100:.2f}%")
    print(" ")
    
#clf is a model and we train thinks there

Trying model with 10 estimators...
Model accuracy on test set: 81.97%

Trying model with 20 estimators...
Model accuracy on test set: 81.97%

Trying model with 30 estimators...
Model accuracy on test set: 81.97%

Trying model with 40 estimators...
Model accuracy on test set: 81.97%

Trying model with 50 estimators...
Model accuracy on test set: 86.89%

Trying model with 60 estimators...
Model accuracy on test set: 85.25%

Trying model with 70 estimators...
Model accuracy on test set: 83.61%

Trying model with 80 estimators...
Model accuracy on test set: 90.16%

Trying model with 90 estimators...
Model accuracy on test set: 86.89%

In [18]:
#6. Save a model and load it 
import pickle
pickle.dump(clf,open("random_forest_model_1.pkl","wb"))

C:\Users\saha7\AppData\Local\Temp\ipykernel_17044\1307000530.py:3: ResourceWarning: unclosed file <_io.BufferedWriter name='random_forest_model_1.pkl'>
  pickle.dump(clf,open("random_forest_model_1.pkl","wb"))
ResourceWarning: Enable tracemalloc to get the object allocation traceback

In [19]:
loaded_model = pickle.load(open("random_forest_model_1.pkl","rb"))

C:\Users\saha7\AppData\Local\Temp\ipykernel_17044\3336588656.py:1: ResourceWarning: unclosed file <_io.BufferedReader name='random_forest_model_1.pkl'>
  loaded_model = pickle.load(open("random_forest_model_1.pkl","rb"))
ResourceWarning: Enable tracemalloc to get the object allocation traceback

In [20]:
loaded_model.score(X_test,Y_test)

0.8688524590163934

# 1. Getting our data ready to be used with machine learning

## Three main things we have to do:
    1. Split the data into features and labels (usually 'X' and 'y')
    2. Filling (also called imputing) or diregarding missing values
    3. Converting non-numerical values to numerical values (also called      feature encoding)

In [21]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [22]:
X = heart_disease.drop("target",axis=1) #feature
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [23]:
y = heart_disease["target"] #label
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [24]:
# Split the data into training and test sets
from sklearn.model_selection import train_test_split #.module_selection is a model
X_train,X_test,y_train,y_test = train_test_split(X, 
                                                 y, 
                                                 test_size = 0.2)

In [25]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [26]:
X.shape

(303, 13)

In [27]:
len(heart_disease) * 0.8

242.4

### 1.1 Make sure it's all numerical

In [5]:
car_sales = pd.read_csv("car-sales-extended-missing-data.csv")
car_sales.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [29]:
len(car_sales)

1000

In [30]:
car_sales.dtypes

Make              object
Colour            object
Odometer (KM)    float64
Doors            float64
Price            float64
dtype: object

In [65]:
# split into X and y
X = car_sales.drop("Price",axis=1)
y = car_sales["Price"]

# Split into training and test
X_train,X_test,y_train,y_test = train_test_split(X, 
                                                 y, 
                                                 test_size=0.2)

In [1]:
# Turn categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make","Colour","Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                   one_hot,
                                   categorical_features)],
                                   remainder = "passthrough")
transformed_X = transformer.fit_transform(X)
transformed_X

NameError: name 'X' is not defined

In [6]:
car_sales["Doors"].value_counts() #Here door is categorical

4.0    811
5.0     75
3.0     64
Name: Doors, dtype: int64

In [ ]:
transformed_X.shape

In [ ]:
X

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot", 
                                 one_hot, 
                                 categorical_features)],
                                 remainder="passthrough")
transformed_X = transformer.fit_transform(X)
transformed_X

In [ ]:
car_sales = car_sales.astype({"Doors":"int64"})

In [ ]:
car_sales = car_sales.astype({"Doors":"int64"})

In [34]:
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 773 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           773 non-null    object
 1   Colour         773 non-null    object
 2   Odometer (KM)  773 non-null    float64
 3   Doors          773 non-null    float64
 4   Price          773 non-null    float64
dtypes: float64(3), object(2)
memory usage: 36.2+ KB

In [ ]:
car_sales.dtypes

In [ ]:
car_sales

In [ ]:
del car_sales

In [ ]:
car_sales

In [43]:
car_sales = pd.read_csv("car-sales-extended-missing-data.csv")

In [ ]:
car_sales.dropna(inplace=True)

In [ ]:
car_sales

In [ ]:
car_sales.info()

In [36]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [53]:
#Turn categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make","Colour","Doors"]
one_hot = OneHotEncoder(sparse=False)
transformer = ColumnTransformer([("one_hot",
                                   one_hot,
                                   categorical_features)],
                                   remainder = "passthrough") #remainder--dont do anything to rest 
transformed_X = transformer.fit_transform(X)
transformed_X

C:\Users\saha7\Desktop\sample_project\env\Lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [39]:
car_sales["Doors"].value_counts()

4    659
5     61
3     53
Name: Doors, dtype: int64

In [54]:
pd.DataFrame(transformed_X)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,35431.0
1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,192714.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,84714.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,154365.0
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,181577.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,35820.0
996,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,155144.0
997,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,66604.0
998,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,215883.0
999,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,248360.0

In [51]:
type(transformed_X) #spares = False..imp

numpy.ndarray

In [58]:
dummies = pd.get_dummies(car_sales[["Make","Doors","Colour"]])
dummies #its panda datframe fucntion

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4.0,0,1,0,0,0,0,0,0,1
1,5.0,1,0,0,0,0,1,0,0,0
2,4.0,0,1,0,0,0,0,0,0,1
3,4.0,0,0,0,1,0,0,0,0,1
4,3.0,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
995,4.0,0,0,0,1,1,0,0,0,0
996,3.0,0,0,0,0,0,0,0,0,1
997,4.0,0,0,1,0,0,1,0,0,0
998,4.0,0,1,0,0,0,0,0,0,1
999,4.0,0,0,0,1,0,1,0,0,0

In [62]:
car_sales.dropna(inplace=True)

In [66]:
# Let's refit the model
np.random.seed(42)
X_train,X_test,y_train,y_test = train_test_split(transformed_X,
                                                 y,
                                                 test_size=0.2)
model.fit(X_train,y_train)

ValueError: Found input variables with inconsistent numbers of samples: [1000, 773]

In [64]:
model.score(X_test,y_test)

NotFittedError: This RandomForestRegressor instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.